.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;


}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;


}