.container {
  margin-top: 5%;
  margin: 0 auto;
  padding: 20px;
}

.main {
  margin-top: 5%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Comic Sans MS', cursive;
  color: #413f3e;
  animation: bounce 1s infinite;
}

.delivery-carryout {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.delivery-carryout button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #5c5959;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delivery-carryout button.active {
  background-color: #333;
}

.delivery-carryout button:hover {
  background-color: #212022;
  transform: scale(1.1);
}

.continue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map {
  height: 400px;
  width: 100%;
}