.wrapper {
    min-height: 100vh;
}

.cart {
    position: fixed;
    top: 70px;
    right: 0;
    margin-top: 2rem;
    max-width: 20%;
    min-width: 200px;
    min-height: 300px;
    padding: 16px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 9999;
  }
  

@media (max-width: 768px) {
    .menu-items {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .cart {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 20%;
      padding: 8px;
      min-height: 100px;
    }
  }