.App {
  text-align: center;
  padding-top: 20px;
  background-color: #f4e4b5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login{
  align-items:center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.App-link {
  color: #61dafb;
}
